rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && 
        firestore.exists(/databases/(default)/documents/adminUsers/$(request.auth.uid));
    }

    match /media/study_materials/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /media/audio_books/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /media/previous_papers/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
  }
}
